In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
filepath = '/Users/shaneypeterson/Desktop/2025.03.08 - Telecomm Churn Project/customer_churn_telecom_services.csv'

In [3]:
df = pd.read_csv(filepath)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [4]:
# Data Types

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [12]:
# Get unique values

for column in df.select_dtypes(include='object').columns:
    unique_values = df[column].unique()
    print(f"-- Unique values in column '{column}':")
    print(unique_values)

-- Unique values in column 'gender':
['Female' 'Male']
-- Unique values in column 'Partner':
['Yes' 'No']
-- Unique values in column 'Dependents':
['No' 'Yes']
-- Unique values in column 'PhoneService':
['No' 'Yes']
-- Unique values in column 'MultipleLines':
['No phone service' 'No' 'Yes']
-- Unique values in column 'InternetService':
['DSL' 'Fiber optic' 'No']
-- Unique values in column 'OnlineSecurity':
['No' 'Yes' 'No internet service']
-- Unique values in column 'OnlineBackup':
['Yes' 'No' 'No internet service']
-- Unique values in column 'DeviceProtection':
['No' 'Yes' 'No internet service']
-- Unique values in column 'TechSupport':
['No' 'Yes' 'No internet service']
-- Unique values in column 'StreamingTV':
['No' 'Yes' 'No internet service']
-- Unique values in column 'StreamingMovies':
['No' 'Yes' 'No internet service']
-- Unique values in column 'Contract':
['Month-to-month' 'One year' 'Two year']
-- Unique values in column 'PaperlessBilling':
['Yes' 'No']
-- Unique values in column 'PaymentMethod':
['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
-- Unique values in column 'Churn':
['No' 'Yes']

In [5]:
# Get Statistics

df.describe()

       SeniorCitizen       tenure  MonthlyCharges  TotalCharges
count    7043.000000  7043.000000     7043.000000   7032.000000
mean        0.162147    32.371149       64.761692   2283.300441
std         0.368612    24.559481       30.090047   2266.771362
min         0.000000     0.000000       18.250000     18.800000
25%         0.000000     9.000000       35.500000    401.450000
50%         0.000000    29.000000       70.350000   1397.475000
75%         0.000000    55.000000       89.850000   3794.737500
max         1.000000    72.000000      118.750000   8684.800000

Notes. 
* SeniorCitizen is encoded already. 
* columns that should be encoded are:
    * gender, Partner, Dependents, PhoneService,MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, Churn
*